.text-dark-blue {
    color: #051367 !important;
}

.text-blue {
    color: #2D31FA !important;
}

.text-light-blue {
    color: #5D8BF4 !important;
}

.text-very-light-blue {
    color: #DFF6FF !important;
}

a {
    color: #2D31FA !important;
}
