#text-cycle-container {
    background: black;
    opacity: .7;
    padding: 1em;
}



.navbar.navbar-transparent .navbar-brand img
{
    top:.7rem;
}

.testimonial-full {
    border: black 1px solid;
    padding: 1em;
    margin-bottom: 1em;
}

.testimonial-full .img-fluid {
    max-width: 160px;
}

.testimonial-full .lead {
    font-weight:bold;
}

